<div
  class="banner"
  style="
    background-color: lightblue;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <h1 style="margin: 0">ChatApp</h1>
  <div id="loginDiv" class="loginDiv">
    <div id="buttonDiv">
      <app-login
        class="login-container"
        (dataChange)="givenName = $event.givenName; userGID = $event.userGID"
      ></app-login>
    </div>
    <div *ngIf="givenName" style="margin-left: 10px">
      <span>Welcome, {{ givenName }}!</span>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading-container">
  <div class="loading-spinner"></div>
  <p class="loading-text">Loading App...</p>
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chat-card-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    width: 800px; /* Change this */
    max-height: 500px;
    overflow-y: auto;
  }

  .message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    width: 800px; /* And this */
  }

  .chat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .chat-card-content {
    display: flex;
    flex-direction: column;
  }

  .chat-card button {
    padding: 10px;
    color: #ffffff;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Position the button to the right */
  }

  .message-box button {
    padding: 10px;
    color: #ffffff;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .message-box button:disabled {
    background-color: #cccccc;
  }
</style>

<div class="container">
  <div class="chat-card-container" #chatContainer>
    <div *ngFor="let chat of Chats" class="chat-card">
      <div class="chat-card-content">
        <h4>{{ chat.name }}</h4>
        <p>{{ chat.message }}</p>
      </div>
      <button *ngIf="chat.userId === userGID" (click)="editChat(chat)">
        Edit
      </button>
    </div>
  </div>
  <div class="message-box">
    <button id="message" [disabled]="true" (click)="initNewChat()">Chat</button>
    <app-edit-chat
      [chat]="chatToEdit"
      (chatsUpdated)="updateChatList($event)"
      [givenName]="givenName"
      [userGID]="userGID"
    ></app-edit-chat>
  </div>
</div>
