<div
  class="banner"
  style="background-color: lightblue; padding: 10px; border: 2px solid black"
>
  <h1 style="margin: 0">ChatApp</h1>
</div>
<app-login
  class="login-container"
  (initNewHeroEvent)="initNewHero()"
  (dataChange)="givenName = $event.givenName; userGID = $event.userGID"
></app-login>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh; /* Set the maximum height of the container */
    overflow: scroll;
  }
  .message {
  }

  table {
    padding: 10px;

    max-height: 3vh;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #413f3f, #3b3a3a);
    overflow: auto;
  }

  td[colspan="4"] {
    background: linear-gradient(to bottom, #636262, #747373);
    padding: 10px;
  }
</style>

<div class="container">
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of Chats">
        <td>{{ hero.name }}</td>
        <td>{{ hero.message }}</td>

        <td>
          <button *ngIf="hero.userId === userGID" (click)="editHero(hero)">
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <button id="message" [disabled]="true" (click)="initNewHero()">
            Chat
          </button>
          <app-edit-chat
            [hero]="heroToEdit"
            (heroesUpdated)="updateHeroList($event)"
            [givenName]="givenName"
            [userGID]="userGID"
          ></app-edit-chat>
        </td>
      </tr>
    </tbody>
  </table>
</div>
