.banner {

    background: linear-gradient(to bottom, #00b7ff, #00aaff);
    padding: 10px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 
  }
  .login-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ::-webkit-scrollbar{
    background: none;
  }
  ::-webkit-scrollbar-thumb{
    background: none;
  }
  #message {
    
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 30px;
  
  }
  button {
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* takes up full viewport height */
  }
  
  .loading-container {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;  /* takes up full viewport height */
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}