.banner {

    background: linear-gradient(to bottom, #00b7ff, #00aaff);
    padding: 10px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 
  }
  .login-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ::-webkit-scrollbar{
    background: none;
  }
  ::-webkit-scrollbar-thumb{
    background: none;
  }
  #message {
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  
  }
  button {
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }