.action {
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  div[ngIf="hero"] input[type="text"] {
    background-color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 16px;
  }